.listcardcontainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.success-view-container {
  display: flex;
  flex-direction: column;
}

.success-view-heading {
  font: bold 26px 'roboto';
  margin-left: auto;
  margin-right: auto;
}

.create-button {
  height: 40px;
  width: 160px;
  cursor: pointer;
  outline: none;
  background-color: #3b82f6;
  color: #ffffff;
  border: none;
  font-family: 'Roboto';
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
}
